.zip-check {
  display       : block;
  // box-shadow    : 0px 20px 30px -20px rgba(0, 0, 0, 0.3);
  border-bottom: 12px solid $gray-lighter;
  .text {
    font-size   : $font-size-base;
    line-height : 40px;
  }

  .zip-input {
    position : relative;
    width    : 120px;
  }

  .form-control-label {
    position  : absolute;
    bottom    : -.25rem;
    width     : 100%;
    font-size : $font-size-xs;
    color     : $gray-light;
  }

  .zip-code {
    text-align : center;
  }
}

@include media-breakpoint-down(sm) {

}
