.zip-check {
  display       : block;
  border-bottom : 12px solid $gray-lighter;

  .text {
    color          : $gray;
    font-size      : $font-size-base;
    font-weight    : normal;
    line-height    : 40px;
    letter-spacing : .05rem;
  }

  .zip-input {
    position : relative;
    width    : 120px;
  }

  .form-control-label {
    position  : absolute;
    top    : 2.68rem;
    width     : 100%;
    color     : $gray-light;
    font-size : $font-size-xs;
  }

  .zip-code {
    text-align : center;
  }

  &.zip-check-large {
    .btn,
    .zip-code {
      font-size: $font-size-h5;
    }
    .text {
      font-size: $font-size-h4;
    }
    .btn,
    .zip-code,
    .text {
      letter-spacing : .05rem;
    }
  }// &.zip-check-large
  @include media-breakpoint-down(sm) {
    .container {
      width: 100%;
    }
  }

}

// @include media-breakpoint-down(sm);
